<div class="container">
  <div class="row">
    <div class="btn-group">
      <button class="btn btn-primary" [(ngModel)]="likesParam" btnRadio="Likers" (click)="loadUsers()">
        Members who like me
      </button>
      <button class="btn btn-primary" [(ngModel)]="likesParam" btnRadio="Likees" (click)="loadUsers()">
        Members who I like
      </button>
    </div>
  </div>
  <h2>{{likesParam === "Likers"? "Members who like me": "Members who I\'ve liked'"}} : {{pagination.totalItems}}</h2>

  <div class="row equal">
      <div *ngFor="let user of users" class="col-lg-2 col-md-3 col-sm-6">
        <app-member-card [user] ="user"></app-member-card>
      </div>
    </div>
  </div>
  
  <div class="text-center">
     <pagination [boundaryLinks]="true"
                [itemsPerPage]="pagination.itemsPerPage" 
                [totalItems]="pagination.totalItems" 
                [(ngModel)]="pagination.currentPage" class="pagination-sm"
                (pageChanged)="pageChanged($event)"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
      </pagination>

</div>